div {
    border: 0px solid black;
    box-sizing: border-box;
    position: absolute;
    font-size: 2vmin;
}

.board{
    top: 1.5%;
    left: 21%;
    width: 58%;
    height: 41.5%;
    overflow: auto;

}

.pointpile{
    top: 50%;
    left: 1%;
    width: 10%;
    height: 45%;
    background-color: #00F;
    overflow: auto;
    z-index:2;
}

.powerpile{
    top: 50%;
    left: 89%;
    width: 10%;
    height: 45%;
    background-color: #F00;
    overflow: auto;
    z-index:2;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url('/images/background.png');
    overflow: auto;
}

.stats {
    left: 79%;
    top: 1.5%;
    width: 20%;
    height: 41.5%;
}

.player {
    top: 43%;
}

.chat {
    left: 0.5%;
    top: 1.5%;
    width: 20%;
    height: 97%;
    text-align: bottom;
    overflow:auto;
}

.hand {
    top: 84.5%;
    left: 21%;
    width: 58%;
    height: 14%;
    overflow:auto;
}

.detailed {
    left: 0.5%;
    top: 1.5%;
    width: 20%;
    height: 53%;
    background-image: url('/images/cardBase.png');
    background-color: white;
    background-size: contain;
    z-index:2;
}

.menubuttons {
    top: 84.5%;
    width: 20%;
    height: 14%;
    left: 79%;
}

.thumbnail {
    height: 90%;
    top:9%;
    width:9%;
}

.board .thumbnail {
    height: 40%;
    top: 29%
}

.glow {
    border: 6px solid yellow;
}

#shader {
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #111;
    opacity: 0.4;
}

.thumbnail span {
/*TODO: REMOVE*/
    z-index:100;
    position:absolute;    
    color:red;
    font-size: 25px;
    font-weight: bold;
    left:5%;
    top:30%;
}
